.searchBarHeader {
}

.searchBarForm {
  width: 100%;
  background-color: blue;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.searchBarInput {
  width: 640px;
  padding: 10px;
  margin-right: 12px;
  border-radius: 8px;
  background-color: #fff;
  border: 0;
  outline: none;
}

.searchBarBtn {
}
